In [2]:
for i in range(6):   #(start,end+1)    start=0
    print(i)

0
1
2
3
4
5

In [3]:
for i in range(1,11):   #(start,end+1)    start=0
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
for num in range(1,21,3):   #(start,end+1,step)    start=0
    print(num)

1
4
7
10
13
16
19

In [10]:
for i in range(1,11):
    print('%d x %d =%d'%(8,i,8*i))

8 x 1 =8
8 x 2 =16
8 x 3 =24
8 x 4 =32
8 x 5 =40
8 x 6 =48
8 x 7 =56
8 x 8 =64
8 x 9 =72
8 x 10 =80

In [11]:
for i in range(1,11):
    print((8*i))

8
16
24
32
40
48
56
64
72
80

In [12]:
for i in range(11):
    print('%d + %d =%d'%(8,i,8+i))

8 + 0 =8
8 + 1 =9
8 + 2 =10
8 + 3 =11
8 + 4 =12
8 + 5 =13
8 + 6 =14
8 + 7 =15
8 + 8 =16
8 + 9 =17
8 + 10 =18

In [13]:
# print even numbers between 0 to 10
for i in range(11):
    if i%2==0:
        print(i)

0
2
4
6
8
10

In [14]:
# print odd numbers between 0 to 10
for i in range(11):
    if i%2!=0:
        print(i)

1
3
5
7
9

In [15]:
s='Python'
for i in s:
    print(i)

P
y
t
h
o
n

In [16]:
s='Python'
for i in s:
    print(i, end='')

Python

In [17]:
s='Python'
for i in s:
    print(i, end=' ')

P y t h o n

In [19]:
s='Python'
for i in s:
    print(i, end='.')

P.y.t.h.o.n.

In [39]:
s='Python'
for i in s:
    print(i,sep='_',end=' ')

P y t h o n

In [33]:
s='ubaid'
x='boardinfinity'
print(s,x,sep='@',end='.com')

ubaid@boardinfinity.com

In [34]:
s='lakhan'
x='boardinfinity'
print(s,x,sep='@',end='.com')

lakhan@boardinfinity.com

In [76]:
u='ubaidshah@gmail.com'
l='lakhannaik@hotmail.com'
n='nehagulati@yahoo.com'
s='sonupatidar@outlook.com'
d='www'

In [78]:
u=u.split('@')

In [83]:
u

['ubaidshah', 'gmail.com']

In [79]:
print(d,u[1],sep='.')

www.gmail.com

In [82]:
l=l.split('@')
n=n.split('@')
s=s.split('@')

print(d,u[1],sep='.')
print(d,n[1],sep='.')
print(d,l[1],sep='.')
print(d,s[1],sep='.')

www.gmail.com
www.yahoo.com
www.hotmail.com
www.outlook.com

In [47]:
a=u+','+l+','+n+','+s

In [48]:
a

'ubaidshah@gmail.com,lakhannaik@hotmail.com,nehagulati@yahoo.com,sonupatidar@outlook.com'

In [49]:
a=a.split(',')

In [58]:
print(a[0])

ubaidshah@gmail.com

In [64]:
x=[]
for i in range(len(a)):
    x.append(a[i].split('@'))
for i in range(len(x)):
    print(d,x[i][1],sep='@')

In [67]:
print(x)

[['ubaidshah', 'gmail.com'], ['lakhannaik', 'hotmail.com'], ['nehagulati', 'yahoo.com'], ['sonupatidar', 'outlook.com']]

In [68]:
d

'www'

In [70]:
for i in range(len(x)):
    print(d,x[i][1],sep='@')

www@gmail.com
www@hotmail.com
www@yahoo.com
www@outlook.com

In [ ]:
u='ubaidshah@gmail.com'
l='lakhannaik@hotmail.com'
n='nehagulati@yahoo.com'
s='sonupatidar@outlook.com'
d='www'
a=u+','+l+','+n+','+s
x=[]
for i in range(len(a)):
    x.append(a[i].split('@'))
for i in range(len(x)):
    print(d,x[i][1],sep='@')

In [85]:
d='www'
y=input().split()
c=[]
for i in range(len(y)):
    c.append(y[i].split('@'))
for i in range(len(c)):
    print(d,c[i][1],sep='.')

ubaid@shah.com lakhan@naik.com neha@gulati.com sonu@patidar.com
www.shah.com
www.naik.com
www.gulati.com
www.patidar.com

In [86]:
for i in range(1,4):
    if i==1:
        print('rice')
    elif i==2:
        print('headphone')
    else:
        print('Jeans')

rice
headphone
Jeans

In [88]:
for i in range(11):
    if i==5:
        print('HiFi')
    else:
        print(i)

0
1
2
3
4
HiFi
6
7
8
9
10

In [91]:
for i in range(11):
    if i==5 or i==8 or i==2:
        continue
    else:
        print(i)

0
1
3
4
6
7
9
10

In [93]:
a=[1,2,5,-6,8,-9,10]
for i in a:
    if i>0:
        continue
    else:
        print(i)

-6
-9

In [94]:
for i in range(7):
    if i==3:
        break
    else:
        print(i)

0
1
2

In [96]:
s='ubaidshah@gmail.com'
for i in s:
    if i=='@':
        break
    else:
        print(i, end='')

ubaidshah

In [105]:
x=[10, 25, 35, 45, 38, 58, 15]
y=['a','b','c','d','e','f','g']
pass_cri=30
# 'Eligible for the test'

# 'Not eligible for the test'

for i in x:
    if i<pass_cri:
        print('Not eligible for the test')
    else:
        print('Eligible for the test')

Not eligible for the test
Not eligible for the test
Eligible for the test
Eligible for the test
Eligible for the test
Eligible for the test
Not eligible for the test

In [101]:
for i in range(8):
    if i==5:
        pass
    else:
        print(i)

0
1
2
3
4
6
7

In [106]:
x=[10, 25, 35, 45, 38, 58, 15]
y=['a','b','c','d','e','f','g']
pass_cri=30
# 'Eligible for the test'

# 'Not eligible for the test'

for i in range(len(x)):
    if x[i]<pass_cri:
        print(y[i],':Not eligible for the test')
    else:
        print(y[i],':Eligible for the test')

a :Not eligible for the test
b :Not eligible for the test
c :Eligible for the test
d :Eligible for the test
e :Eligible for the test
f :Eligible for the test
g :Not eligible for the test

In [109]:
x=int(input('Enter your marks:'))
y=input('Enter your name:')
pass_cri=30
# 'Eligible for the test'

# 'Not eligible for the test'

if x<pass_cri:
    print(y,':Not eligible for the test')
else:
    print(y,':Eligible for the test')

Enter your marks:90
Enter your name:xyz
xyz :Eligible for the test

In [111]:
x=list(map(int,input().split(',')))
y=input().split(',')

# x=[10,25,35,45,38,58,15]
# y=['ana','bablu','chandu','dholu','ena','farah','gangu']
pass_cri=30
# 'Eligible for the test'

# 'Not eligible for the test'

for i in range(len(x)):
    if x[i]<pass_cri:
        print(y[i],':Not eligible for the test')
    else:
        print(y[i],':Eligible for the test')

10,25,35,45,38,58,15
ana,bablu,chandu,dholu,ena,farah,gangu
ana :Not eligible for the test
bablu :Not eligible for the test
chandu :Eligible for the test
dholu :Eligible for the test
ena :Eligible for the test
farah :Eligible for the test
gangu :Not eligible for the test